<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="WARN">
        <appender-ref ref="CONSOLE"/>
    </root>

    <logger name="no.nav.tsm" level="INFO"/>

    <!-- Squelch noisy infra during tests -->
    <logger name="org.apache.kafka" level="ERROR"/>
    <logger name="org.testcontainers" level="WARN"/>
    <logger name="tc" level="WARN"/>
    <logger name="com.github.dockerjava" level="WARN"/>
</configuration>
